<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
</head>
<body>
    <div>
      <h1>{{ page.name }}</h1>
      <h2></h2>
      <h3>Author: {{ page.author }}</h3>
      <p><strong>Description: </strong> {{ page.description }} </p>
      <p>Is public: {{ page.is_public }} </p>
    </div>
    
    {% for group in page.linkgroup_set.all %}
      <hr>
      
      <h2>{{ group.name }}</h2>
      <h3>Author: {{ group.author }}</h3>
      <p><strong>Note: </strong> {{ group.note }} </p>
      <p>Is public: {{ group.is_public }} </p>
    {% endfor %}
    <hr>
    
</body>
</html>